In [5]:
import mysql.connector
import pandas as pd
import passwords

mydb = mysql.connector.connect(
    host = passwords.host,
    user = passwords.user,
    password = passwords.password,
    database = 'bar_invetory'
)

mycursor = mydb.cursor()

In [6]:
col = input("Change: ")
sku = input("Of SKU: ")
val = input("To: ")

mycursor.execute(f'''update inventory set {col} = {val} where sku = "{sku}"''')
mydb.commit()


mycursor.execute(f'''select * from inventory where sku like "%{sku}%"''')

mydata = mycursor.fetchall()
df = pd.DataFrame(mydata)
df.columns = ("SKU", "Brand", "Liquor", "Subliquor", "Volume", "Price", "Rating", "OrderDate")
df

Change:  Price
Of SKU:  Chateau Bellevue Bordeaux
To:  11.69

,SKU,Brand,Liquor,Subliquor,Volume,Price,Rating,OrderDate
0,Chateau Bellevue Bordeaux,Chateau Bellevue,Red Wine,Bordeaux,750,11.69,91,2021-04-28